.logo {
    border-radius: 100px;
    width: 100px;
}
.header {
    background-color: rgb(8, 71, 8);
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.body {
    margin 0px

}

h1 {
    font-family: Cursive;
}

.header-left {
    display: flex;
    gap: 20px;

}
.header-right {
    display: flex;
    gap: 10px;
    align-items: center;
    
}
footer {
    background-color: darkolivegreen;
    padding: 20px;
    

}
.footertexti {
    text-align: center;
}
main {
    padding: 20px;
    background-color: darkgray;
}
section {
    margin: 10px;
    padding: 10px;
    background-color: antiquewhite;
}

.listar {
    display: flex;
    justify-content: space-around;
}